doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{message}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    style.
      * {
      line-height: 1.2;
      margin: 0;
      }
      html {
      color: #888;
      display: table;
      font-family: sans-serif;
      height: 100%;
      text-align: center;
      width: 100%;
      }
      body {
      display: table-cell;
      vertical-align: middle;
      margin: 2em auto;
      }
      h1 {
      color: #555;
      font-size: 2em;
      font-weight: 400;
      }
      p {
      margin: 0 auto;
      width: 280px;
      }
      @media only screen and (max-width: 280px) {
      body, p {
      width: 95%;
      }
      h1 {
      font-size: 1.5em;
      margin: 0 0 0.3em;
      }
      }
  body
    if error === undefined
      h1 #{message} - #{status}
    else
      h1 #{message} - #{error.status}
    a(href="/")
      button.btn.btn-primary.btn-lg.btn-block(type="button") Back Home

// IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/
